<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GalaxyLotto.Properties.Settings.DB539DataCS" connectionString="Data Source=HOME001\SQLEXPRESS;Initial Catalog=GL_DB539Data;Persist Security Info=True;User ID=ellischu;Password=Eunice168"
            providerName="System.Data.SqlClient" />
        <add name="GalaxyLotto.Properties.Settings.DB539FreqCS" connectionString="Data Source=HOME001\SQLEXPRESS;Initial Catalog=GL_DB539Freq;Persist Security Info=True;User ID=ellischu;Password=Eunice168"
            providerName="System.Data.SqlClient" />
        <add name="GalaxyLotto.Properties.Settings.DBBigDataCS" connectionString="Data Source=HOME001\SQLEXPRESS;Initial Catalog=GL_DBLottoBig;Persist Security Info=True;User ID=ellischu;Password=Eunice168"
            providerName="System.Data.SqlClient" />
        <add name="GalaxyLotto.Properties.Settings.DBDafuDataCS" connectionString="Data Source=HOME001\SQLEXPRESS;Initial Catalog=GL_DBLottoDafu;Persist Security Info=True;User ID=ellischu;Password=Eunice168"
            providerName="System.Data.SqlClient" />
        <add name="GalaxyLotto.Properties.Settings.DBWeliDataCS" connectionString="Data Source=HOME001\SQLEXPRESS;Initial Catalog=GL_DBLottoWeli;Persist Security Info=True;User ID=ellischu;Password=Eunice168"
            providerName="System.Data.SqlClient" />
        <add name="GalaxyLotto.Properties.Settings.DBOptionsCS" connectionString="Data Source=HOME001\SQLEXPRESS;Initial Catalog=GL_DBOptions;Persist Security Info=True;User ID=ellischu;Password=Eunice168"
            providerName="System.Data.SqlClient" />
        <add name="GalaxyLotto.Properties.Settings.DBMethodCS" connectionString="Data Source=HOME001\SQLEXPRESS;Initial Catalog=GL_DBMethod;Persist Security Info=True;User ID=ellischu;Password=Eunice168"
            providerName="System.Data.SqlClient" />
        <add name="GalaxyLotto.Properties.Settings.DBSixDataCS" connectionString="Data Source=HOME001\SQLEXPRESS;Initial Catalog=GL_DBLottoSix;Persist Security Info=True;User ID=ellischu;Password=Eunice168"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
